<div class="about-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: '100%', alt: "profile image", class: 'profile-img' %>

        <div class="skills">
          <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">

              <div
                class="progress-bar progress-bar-striped bg-warning"
                role="progressbar"
                style="width: <%= skill.percent_utilized %>%"
                aria-valuenow="<%= skill.percent_utilized %>"
                aria-valuemax="100">
              </div>

            </div>
          </div>
        <% end %>

        </div>
      </div>

      <div class="col-md-8">
        <p>I currently reside in Somerset West. I have a Bachelors degree in Biodiversity and Ecology and am a self-taught software developer. My current interest is in website design and I specialize in Ruby on Rails. </p>

        <p class="lead">
          <%= link_to "My Github Profile", 'https://github.com/pdivvie', class: "btn btn-lg btn-info" %>
        </p>

        <p>
          <button
            class="btn btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#academicHistory"
            aria-expanded="false"
            aria-controller="academicHistory"
          >
            Academic History
          </button>

          <button
            class="btn btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#selfTaught"
            aria-expanded="false"
            aria-controller="selfTaught"
          >
            Self Taught
          </button>
        </p>

        <p>
          <div class="collapse" id="academicHistory">
            <div class="card card-block">
              De Hoop Primary
              <br>
              Somerset-West
              <br>
              1999  – 2005

            </div>
            <div class="card card-block">
              Parel Vallei High
              <br>
              Somerset-West
              <br>
              2006  – June 2008
            </div>
            <div class="card card-block">
              Somerset Private School
              <br>
              July 2008 – December 2010
              <br>
              <%= link_to 'National Senior Certificate', "https://personal-documents-bucket.s3.eu-west-2.amazonaws.com/PJ+de+Villiers+-+National+Senior+Certificate.PDF" %>
              Additional Subjects:
              <br>
              Mathematics P3 (78%)
              <br>
              Psychology AS-Level (Passed)
              <br>
              Stellenbosch Entrance Examination (70%)

            </div>
            <div class="card card-block">
              B.Sc (Mathematics, Physics)
              <br>
              University of Stellenbosch
              <br>
              2011 – 2012
              <br>
              <%= link_to 'Academic record', "https://personal-documents-bucket.s3.eu-west-2.amazonaws.com/PJ+de+Villiers+-+US+transcript.PDF" %>
            </div>
            <div class="card card-block">
              B.Sc (Genetics / Zoology)
              <br>
              UNISA
              <br>
              July 2013 – 2016
              <br>
              <%= link_to 'Academic record', "https://personal-documents-bucket.s3.eu-west-2.amazonaws.com/PJ+de+Villiers+-+UNISA+academic+record.PDF" %>
              <%= link_to 'Bachelors degree', "https://personal-documents-bucket.s3.eu-west-2.amazonaws.com/Degree+Certificate+-+P+J+de+Villiers.pdf" %>
            </div>

          </div>
        </p>

        <p>
          <div class="collapse" id="selfTaught">
            <div class="card card-block">
              Dissecting Ruby on Rails 5
              <br>
              Udemy
              <br>
              <%= link_to 'Certificate', "https://personal-documents-bucket.s3.eu-west-2.amazonaws.com/RoR+5+certificate.pdf" %>
            </div>
          </div>
          <div class="collapse" id="selfTaught">
            <div class="card card-block">
              Learn to Code with Ruby
              <br>
              Udemy
              <br>
              <%= link_to 'Certificate', "https://personal-documents-bucket.s3.eu-west-2.amazonaws.com/Ruby+Certificate.pdf" %>
            </div>
          </div>
          <div class="collapse" id="selfTaught">
            <div class="card card-block">
              Automate the Boring Stuff with Python
              <br>
              Udemy
              <br>
              <%= link_to 'Certificate', "https://personal-documents-bucket.s3.eu-west-2.amazonaws.com/Automate_the_boring_stuff_with_python_certificate.pdf" %>
            </div>
          </div>
          <div class="collapse" id="selfTaught">
            <div class="card card-block">
              Responsive Web Design
              <br>
              freecodecamp.org
              <br>
              <%= link_to 'Certificate', "https://www.freecodecamp.org/certification/pdivvie/responsive-web-design" %>
            </div>
          </div>
        </p>

      </div>

    </div>

  </div>
</div>





