<div class="contact-card-container">
  <div class="card">

    <h1>Contact Information</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <p>Cellphone number: <%= number_to_phone '0724412468' %></p>
        <p>Email address: <a href="mailto:pdivvie@outlook.com?subject=PortfolioContact" "pdivvie@outlook.com">pdivvie@outlook.com</a></p>
      </div>
    </div>

    <div class="sidebar-module social-links">
      <h4>Social Media</h4>
      <%= link_to fa_icon('github'), "https://github.com/pdivvie" %>
      <%= link_to fa_icon('twitter'), "https://twitter.com/_pdivvie_" %>
      <%= link_to fa_icon('facebook'), "https://www.facebook.com/pierrejacques.devilliers.3" %>
      <%= link_to fa_icon('linkedin'), "https://www.linkedin.com/in/pierre-de-villiers-023048181/" %>
    </div>
  </div>
</div>
